<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章管理页面</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>文章标题</th>
                <th>类型</th>
                <th>发表时间</th>
                <th>浏览量</th>
                <th>所属分类</th>
                <th>发布状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <!--<th:block th:each="post : ${article.list}}">-->
        <th:block th:each="post : ${articles.list}">
            <tr th:cid="post.cid">
               <td>
                   <!--<a th:href="@{'/admin/article/'}+${post.cid}}" th:text="${post.title}"></a>-->
                   <a th:href="@{'/admin/article/'+${post.cid}}" th:text="${post.title}"></a>
               </td>
                <td>
                    <th:block th:if="${post.type == 'post'}">
                        <span>博文</span>
                    </th:block>
                    <th:block th:if="${post.type == 'photo'}">
                        <span>作品</span>
                    </th:block>
                </td>
                <td>
                    <!--<th:block th:text="${commons.fmtdate(post.created,'yyyy-MM-dd HH:mm:ss' )}">-->

                    <!--<th:block th:text="${commons.fmtdate(post.created, 'yyyy-MM-dd HH:mm:ss')}"/>-->
                </td>
                <td>
                    <th:block th:text="${post.categories}"/>
                </td>
                <td>
                    <th:block th:if="${post.status == 'publish'}" >
                        <span>已经发布</span>
                    </th:block>
                    <th:block th:if="${post.status == 'draft'}">
                        <span>草稿</span>
                    </th:block>
                </td>
                <td>
                    <a th:href="@{'/admin/article/'+${post.cid}}">编辑文章</a>
                    <a href="javascript:void(0)" th:onclick="'delPost('+${post.cid}+');'"
                       class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                            class="fa fa-trash-o"></i> <span>删除</span></a>
                    </a>
                    <!--<a th:href="${post.type =='post'?commons.blogPermalink(post.cid): commons.photoPermalink(post.cid)}">-->
                        <span>预览</span>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!--<div th:replace="admin/footer::footer-content"></div>-->

<div th:replace="admin/footer::footer"> </div>

    <script type="text/javascript">
        /*<![CDATA[*/
        var tale = new $.tale();

        function delPost(cid) {
            tale.alertConfirm({
                title: '确定删除该文章吗?',
                then: function () {
                    tale.post({
                        url: '/admin/article/delete',
                        data: {cid: cid},
                        success: function (result) {
                            if (result && result.code == 'success') {
                                tale.alertOkAndReload('文章删除成功');
                            } else {
                                tale.alertError(result.msg || '文章删除失败');
                            }
                        }
                    });
                }
            });
        }

        /*]]>*/
    </script>







</body>
</html>