<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>友情链接管理</title>
</head>
<body>
  <div>
      <h4>友情链接管理</h4>
  </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>链接名称</th>
                    <th>链接地址</th>
                    <th>链接LOGO</th>
                    <th>链接顺序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="link:${links}">
                    <tr th:attr="mid=${link.mid}">
                        <td th:text="${link.name}"></td>
                        <td><a th:href="@{${link.slug}0} " th:text="${link.slug}"></a></td>
                        <td th:text="${link.description}"></td>
                        <td th:text="${link.sort}"></td>
                        <td>
                            <a href="javascript:void(0)" onclick="editLink(this);"><span>编辑</span></a>
                            <a href="javascript:void(0)" th:onclick="'delLink('+${link.mid}+');'"><span>删除</span></a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>

    <div>
        <div>
            <form id="linkForm">
                <input type="hidden" id="mid" name="mid"/>
                <div>
                    <label >链接标题</label>
                    <input type="text" id="title" name="title" placeholder="请输入链接标题" required="required" />
                </div>

                <div>
                    <label>链接地址</label>
                    <input type="text" id="url"  name="url" placeholder="请输入链接的地址" require="required"/>
                </div>
                <div>
                    <label>链接LOGO</label>
                    <input type="text" id = "logo" name="logo" placeholder="请输入链接LOGO,没有不输入">
                </div>
                <div>
                    <label>链接排序</label>
                    <input type="text" id="sort"  name="sort" placeholder="连接排序">
                </div>
                <button type="submit">保存链接
                </button>




            </form>
        </div>
    </div>
  <div th:replace="admin/footer :: footer"></div>
  <script th:src="@{//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js}"></script>
  <script th:src="@{//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js}"></script>
<script type="text/javascript">
    var tale = new $.tale();
    $('#linkForm').validate({
        submitHandler: function (form) {
            var params = $("#linkForm").serialize();
            tale.post({
                url: '/admin/links/save',
                data: params,
                success: function (result) {
                    $('#linkForm input').val('');
                    $('#linkForm #sort').val('0');
                    if (result && result.code == 'success') {
                        tale.alertOkAndReload('友链保存成功');
                    } else {
                        tale.alertError(result.msg || '友链保存失败');
                    }
                }
            });
        }
        // submitHandler:function (form) {
        //     var params = $("#linkForm").serialize();
        //     tale.post({
        //         url: "/admin/links/save",
        //         data: params,
        //         success:function (result) {
        //             $('#linkForm input').val('');
        //             $('#linkForm #sort').val('0');
        //             if (result && result.code == 'success') {
        //                 tale.alertOkAndReload('友链保存成功');
        //             } else {
        //                 tale.alertError(result.msg || '友链保存失败');
        //             }
        //         }
        //         }
        //     );
        // }
    });

    function editLink(obj) {
        var this_ = $(obj);

        var mid = this_.parents('tr').attr('mid');
        var title = this_.parents('tr').find('td:eq(0)').text();
        var url = this_.parents('tr').find('td:eq(1)').text();
        var logo = this_.parents('tr').find('td:eq(2)').text();
        var sort = this_.parents('tr').find('td:eq(3)').text();

        $('#linkForm #mid').val(mid);
        $('#linkForm #title').val(title);
        $('#linkForm #url').val(url);
        $('#linkForm #logo').val(logo);
        $('#linkForm #sort').val(sort);
    }

    function delLink(mid) {
        tale.alertConfirm({
            title: '确定删除该链接吗?',
            then: function () {
                tale.post({
                    url: '/admin/links/delete',
                    data: {mid: mid},
                    success: function (result) {
                        if (result && result.code == 'success') {
                            tale.alertOkAndReload('链接删除成功');
                        } else {
                            tale.alertError(result.msg || '链接删除失败');
                        }
                    }
                });
            }
        });
    }

</script>
</body>
</html>