<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CommentDao">
    <sql id="BASE_TABLE">
        t_comments
    </sql>
    <sql id="BASE_COLUMN">
        t.cid,t.created,t.author,t.authorId,t.ownerId,t.mail,t.url,t.ip,t.agent,t.content,t.type,t.status,t.parent
    </sql>

    <insert id="addComment" parameterType="comment" useGeneratedKeys="true" keyProperty="coid">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffixOverrides="," suffix=")">
            cid,created,author,authorId,ownerId,mail,url,ip,agent,content,type,status,parent
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{cid,jdbcType=INTEGER},UNIX_TIMESTAMP(NOW()),#{author,jdbcType=VARCHAR},#{authorId,jdbcType=INTEGER},#{ownerId,jdbcType=INTEGER},
            #{mail,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR},#{agent,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
            #{parent,jdbcType=INTEGER},
        </trim>
    </insert>

    <delete id="deleteComment">
        DELETE  FROM
        <include refid="BASE_TABLE"/>
        WHERE
        coid=#{coid,jdbcType=INTEGER}
    </delete>

    <update id="updateCommentStatus">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET status=#{status,jdbcType=VARCHAR}
        WHERE coid=#{coid,jdbcType=INTEGER}
    </update>

    <select id="getCommentById">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        AS t
        WHERE t.coid=#{coid,jdbcType=INTEGER}
    </select>

    <select id="getCommentsByCond" parameterType="com.dto.cond.CommentCond">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        AS t
        <where>
        <if test="status!=null">
        AND t.status=#{status,jdbcType=VARCHAR}
        </if>
        <if test="startTime!=null">
        AND t.created >= #{startTime,jdbcType=INTEGER}
        </if>
        <if test="endTime!=null">
        AND t.created &lt;= #{endTime, jdbcType=INTEGER}
        </if>
        <if test="parent!=null">
            AND t.parent = #{parent,jdbcType=INTEGER}
        </if>
        </where>
        ORDER BY t.created
    </select>

    <select id="getCommentsByCId">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        AS t
        WHERE t.cid=#{cid,jdbcType=INTEGER}
        AND t.status='approved'
        ORDER BY t.created
    </select>

    <select id="getCommentCount">
        SELECT COUNT(*)
        FROM
        <include refid="BASE_TABLE"/>
    </select>
</mapper>